USE [master]
GO
/****** Object:  Database [Database_WebsiteLearningEnglishForKids_Official]    Script Date: 12/25/2023 10:53:03 AM ******/
CREATE DATABASE [Database_WebsiteLearningEnglishForKids_Official]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database_WebsiteLearningEnglishForKids_Official', FILENAME = N'D:\rdsdbdata\DATA\Database_WebsiteLearningEnglishForKids_Official.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Database_WebsiteLearningEnglishForKids_Official_log', FILENAME = N'D:\rdsdbdata\DATA\Database_WebsiteLearningEnglishForKids_Official_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Database_WebsiteLearningEnglishForKids_Official].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Database_WebsiteLearningEnglishForKids_Official]
GO
/****** Object:  User [admin]    Script Date: 12/25/2023 10:53:03 AM ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[account]    Script Date: 12/25/2023 10:53:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[avatar_url] [varchar](255) NULL,
	[birthday] [varchar](255) NULL,
	[email] [varchar](50) NULL,
	[enabled] [bit] NOT NULL,
	[fullname] [nvarchar](255) NULL,
	[gender] [varchar](255) NULL,
	[password] [varchar](120) NULL,
	[phone_number] [varchar](255) NULL,
	[username] [varchar](20) NULL,
	[verification_code] [varchar](64) NULL,
 CONSTRAINT [PK__account__3213E83F12C4176E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account_levels]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_levels](
	[account_id] [bigint] NOT NULL,
	[level_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[level_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account_roles]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_roles](
	[account_id] [bigint] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ansgrammar]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ansgrammar](
	[id_ans_grammar] [bigint] IDENTITY(1,1) NOT NULL,
	[answer] [varchar](255) NULL,
	[explain_test] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[unit_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ans_grammar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[anslesson]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anslesson](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[explain] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[lesson_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ansreview]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ansreview](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[explain_right] [varchar](255) NULL,
	[explain_wrong] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[lesson_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grammar]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grammar](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[image_url1] [varchar](255) NULL,
	[image_url2] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[unit_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lessons]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lessons](
	[lesson_id] [bigint] IDENTITY(1,1) NOT NULL,
	[image_url] [varchar](255) NULL,
	[lesson_number] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[unit_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[levels]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[levels](
	[level_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[level_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phonics]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phonics](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[audio_url] [varchar](255) NULL,
	[image_url] [varchar](255) NULL,
	[mean] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[unit_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[score]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[score](
	[score_id] [bigint] IDENTITY(1,1) NOT NULL,
	[completion_period] [varchar](255) NULL,
	[number_correct] [varchar](255) NULL,
	[score] [real] NOT NULL,
	[account_id] [bigint] NOT NULL,
	[level_id] [bigint] NOT NULL,
	[unit_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[score_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[songs]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[songs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[audio_url] [varchar](255) NULL,
	[image_url] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[unit_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stories]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[image_url] [varchar](255) NULL,
	[story_name] [varchar](255) NULL,
	[video_url] [varchar](255) NULL,
	[unit_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[units]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[units](
	[unit_id] [bigint] IDENTITY(1,1) NOT NULL,
	[status] [varchar](255) NULL,
	[time] [int] NOT NULL,
	[unit_name] [varchar](255) NULL,
	[level_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_access]    Script Date: 12/25/2023 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_access](
	[access_id] [bigint] IDENTITY(1,1) NOT NULL,
	[access_date] [varchar](255) NULL,
	[account_id] [bigint] NOT NULL,
	[level_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[access_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([id], [address], [avatar_url], [birthday], [email], [enabled], [fullname], [gender], [password], [phone_number], [username], [verification_code]) VALUES (2, N'105, đường số 30, phường 6, Gò Vấp', N'http://res.cloudinary.com/dzentev47/image/upload/v1700666879/iqhirak5h7c3jflsiwzv.jpg', N'2023-11-22', N'liceriaenglishforkids@gmail.com', 1, N'Admin LICERIA', N'Male', N'$2a$10$Z.9bxDtj8/Su0qyR4fa7xuzzC9yc65n3KZcHsbUknIyQ3YAy9m5Q6', N'0345634374', N'adminLiceria', NULL)
INSERT [dbo].[account] ([id], [address], [avatar_url], [birthday], [email], [enabled], [fullname], [gender], [password], [phone_number], [username], [verification_code]) VALUES (3, N'105, đường số 30, phường 6, Gò Vấp', N'http://res.cloudinary.com/dzentev47/image/upload/v1700667056/hht4o0aqr1c6as1stniy.jpg', N'2001-04-13', N'dangthanhan130402@gmail.com', 0, N'Thanh An', N'Female', N'$2a$10$LQIz6rfmE.WRYKWyRMuNquwb3OXR36J.9Yn1zTpgmT9EmmP7alqgm', N'0971238016', N'thanhan1304', NULL)
INSERT [dbo].[account] ([id], [address], [avatar_url], [birthday], [email], [enabled], [fullname], [gender], [password], [phone_number], [username], [verification_code]) VALUES (4, N'AAA', N'http://res.cloudinary.com/dzentev47/image/upload/v1702143387/nxpbjbf0ngpm4ydh1zju.jpg', N'05/03/2001', N'aaaa@gmail.com', 0, N'Phát Tri', N'Nam', N'$2a$10$vvW2vKuKI1rjFkiI6jLUieMLlCq9lKdMrQji7hd3EnwgiIYy9ORxG', N'0333333333', N'Tri', NULL)
SET IDENTITY_INSERT [dbo].[account] OFF
GO
INSERT [dbo].[account_levels] ([account_id], [level_id]) VALUES (3, 1)
INSERT [dbo].[account_levels] ([account_id], [level_id]) VALUES (4, 2)
INSERT [dbo].[account_levels] ([account_id], [level_id]) VALUES (5, 3)
GO
INSERT [dbo].[account_roles] ([account_id], [role_id]) VALUES (2, 2)
INSERT [dbo].[account_roles] ([account_id], [role_id]) VALUES (3, 1)
INSERT [dbo].[account_roles] ([account_id], [role_id]) VALUES (4, 1)
GO
SET IDENTITY_INSERT [dbo].[ansgrammar] ON 

INSERT [dbo].[ansgrammar] ([id_ans_grammar], [answer], [explain_test], [name], [unit_id]) VALUES (10002, N'It''s', N'It''s = It is', NULL, 10002)
INSERT [dbo].[ansgrammar] ([id_ans_grammar], [answer], [explain_test], [name], [unit_id]) VALUES (10005, N'It''s', N'It''s = It is', NULL, 10002)
INSERT [dbo].[ansgrammar] ([id_ans_grammar], [answer], [explain_test], [name], [unit_id]) VALUES (10007, N'It''s', N'It''s = It is', NULL, 10002)
GO
SET IDENTITY_INSERT [dbo].[ansgrammar] OFF
GO
SET IDENTITY_INSERT [dbo].[anslesson] ON 

INSERT [dbo].[anslesson] ([id], [explain], [name], [lesson_id]) VALUES (1, N'1- c', N'c', 10007)
INSERT [dbo].[anslesson] ([id], [explain], [name], [lesson_id]) VALUES (2, N'2 - a', N'a', 10007)
INSERT [dbo].[anslesson] ([id], [explain], [name], [lesson_id]) VALUES (3, N'3-e', N'e', 10007)
GO
SET IDENTITY_INSERT [dbo].[anslesson] OFF
GO
SET IDENTITY_INSERT [dbo].[ansreview] ON 

INSERT [dbo].[ansreview] ([id], [explain_right], [explain_wrong], [name], [lesson_id]) VALUES (10002, N'Great!', N'eight is the correct answer', N'eight', 10002)
INSERT [dbo].[ansreview] ([id], [explain_right], [explain_wrong], [name], [lesson_id]) VALUES (10003, N'Great!', N'ears is the correct answer', N'ears', 10002)
INSERT [dbo].[ansreview] ([id], [explain_right], [explain_wrong], [name], [lesson_id]) VALUES (10004, N'Great!', N'book is the correct answer', N'book', 10002)
GO
SET IDENTITY_INSERT [dbo].[ansreview] OFF
GO
SET IDENTITY_INSERT [dbo].[grammar] ON 

INSERT [dbo].[grammar] ([id], [image_url1], [image_url2], [name], [unit_id]) VALUES (10002, N'http://res.cloudinary.com/dzentev47/image/upload/v1700807081/ocjxvawrpbgqsphxirqi.png', N'http://res.cloudinary.com/dzentev47/image/upload/v1700807083/t2b39hlzfimpkqcoaych.png', N'Unit 1', 10002)
INSERT [dbo].[grammar] ([id], [image_url1], [image_url2], [name], [unit_id]) VALUES (10004, N'http://res.cloudinary.com/dzentev47/image/upload/v1700807261/kvk5ka0fukzmlbhvyv9e.png', N'http://res.cloudinary.com/dzentev47/image/upload/v1700807264/g7l6utytznx3aagrpejk.png', N'Unit 2', 10004)
INSERT [dbo].[grammar] ([id], [image_url1], [image_url2], [name], [unit_id]) VALUES (10006, N'http://res.cloudinary.com/dzentev47/image/upload/v1700807532/iwqodwrnravylb9rknvi.png', N'http://res.cloudinary.com/dzentev47/image/upload/v1700807534/ztfb8o2hbrmkzo8kfd0u.png', N'Unit 3', 10006)
SET IDENTITY_INSERT [dbo].[grammar] OFF
GO
SET IDENTITY_INSERT [dbo].[lessons] ON 

INSERT [dbo].[lessons] ([lesson_id], [image_url], [lesson_number], [name], [unit_id]) VALUES (10002, N'http://res.cloudinary.com/dzentev47/image/upload/v1700808465/zmrmhor4pzvsqqvppp2w.png', N'1', N'Write another word that has the remainder', 10007)
INSERT [dbo].[lessons] ([lesson_id], [image_url], [lesson_number], [name], [unit_id]) VALUES (10003, N'http://res.cloudinary.com/dzentev47/image/upload/v1700808467/hiookhp7umxl2bzvhe2u.png', N'2', N'Enter the answer to the question', 10007)
INSERT [dbo].[lessons] ([lesson_id], [image_url], [lesson_number], [name], [unit_id]) VALUES (10004, N'http://res.cloudinary.com/dzentev47/image/upload/v1700808470/zfi3tlfibk4e2c7nky4z.png', N'3', N'Enter the correct word in the blank', 10007)
GO
SET IDENTITY_INSERT [dbo].[lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[levels] ON 

INSERT [dbo].[levels] ([level_id], [name]) VALUES (1, N'Level 1')
INSERT [dbo].[levels] ([level_id], [name]) VALUES (2, N'Level 2')
INSERT [dbo].[levels] ([level_id], [name]) VALUES (3, N'Level 3')
SET IDENTITY_INSERT [dbo].[levels] OFF
GO
SET IDENTITY_INSERT [dbo].[phonics] ON 

INSERT [dbo].[phonics] ([id], [audio_url], [image_url], [mean], [name], [unit_id]) VALUES (10002, N'http://res.cloudinary.com/dzentev47/video/upload/v1700807098/dlcoice7iozyuaynj5kv.mp3', N'http://res.cloudinary.com/dzentev47/image/upload/v1700807097/f6nijjpmvs435yypki5i.jpg', N'Aa', N'Apple', 10002)
INSERT [dbo].[phonics] ([id], [audio_url], [image_url], [mean], [name], [unit_id]) VALUES (10004, N'http://res.cloudinary.com/dzentev47/video/upload/v1700807103/kaiezabsptkks96xag15.mp3', N'http://res.cloudinary.com/dzentev47/image/upload/v1700807101/axl0yfufsbebjlo6zkrj.jpg', N'Bb', N'Bird', 10002)
INSERT [dbo].[phonics] ([id], [audio_url], [image_url], [mean], [name], [unit_id]) VALUES (10006, N'http://res.cloudinary.com/dzentev47/video/upload/v1700807106/uxm0wjvdpqiscztuj6np.mp3', N'http://res.cloudinary.com/dzentev47/image/upload/v1700807105/zzln4kxiczsdeyegomwc.jpg', N'Cc', N'Cat', 10002)
GO
SET IDENTITY_INSERT [dbo].[phonics] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name]) VALUES (1, N'ROLE_USER')
INSERT [dbo].[roles] ([id], [name]) VALUES (2, N'ROLE_ADMIN')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[score] ON 

INSERT [dbo].[score] ([score_id], [completion_period], [number_correct], [score], [account_id], [level_id], [unit_id]) VALUES (20, N'02:37', N'27 / 27', 10, 10002, 2, 20048)
INSERT [dbo].[score] ([score_id], [completion_period], [number_correct], [score], [account_id], [level_id], [unit_id]) VALUES (21, N'03:05', N'23 / 26', 8.8, 6, 1, 10013)
INSERT [dbo].[score] ([score_id], [completion_period], [number_correct], [score], [account_id], [level_id], [unit_id]) VALUES (22, N'00:03', N'0 / 25', 0, 6, 1, 10008)
SET IDENTITY_INSERT [dbo].[score] OFF
GO
SET IDENTITY_INSERT [dbo].[songs] ON 

INSERT [dbo].[songs] ([id], [audio_url], [image_url], [name], [unit_id]) VALUES (10002, N'http://res.cloudinary.com/dzentev47/video/upload/v1700807096/vocl3j812i8c5ccd8kwt.mp3', N'http://res.cloudinary.com/dzentev47/image/upload/v1700807093/vt3wgbqulfguxvxoijof.png', N'Open the book!', 10002)
INSERT [dbo].[songs] ([id], [audio_url], [image_url], [name], [unit_id]) VALUES (10004, N'http://res.cloudinary.com/dzentev47/video/upload/v1700807277/glmiymeh1o54tl9g5el6.mp3', N'http://res.cloudinary.com/dzentev47/image/upload/v1700807274/rqeex3scflwqwnw6xrfs.png', N'Toys, toys, toys, toys!', 10004)
INSERT [dbo].[songs] ([id], [audio_url], [image_url], [name], [unit_id]) VALUES (10006, N'http://res.cloudinary.com/dzentev47/video/upload/v1700807547/ozdtdbarmqpeajpjynya.mp3', N'http://res.cloudinary.com/dzentev47/image/upload/v1700807544/drxw03uu1ex963whorcb.png', N'Ten fingers on my hands', 10006)
SET IDENTITY_INSERT [dbo].[songs] OFF
GO
SET IDENTITY_INSERT [dbo].[stories] ON 

INSERT [dbo].[stories] ([id], [image_url], [story_name], [video_url], [unit_id]) VALUES (10002, N'http://res.cloudinary.com/dzentev47/image/upload/v1700807074/tkd1qxc2bdj9au5r9iq3.png', N'What''s this?', N'http://res.cloudinary.com/dzentev47/video/upload/v1700807077/ul67ifxdhjdtpavqhzak.mp4', 10002)
INSERT [dbo].[stories] ([id], [image_url], [story_name], [video_url], [unit_id]) VALUES (10004, N'http://res.cloudinary.com/dzentev47/image/upload/v1700807255/j9md4xk2euieymkcm7kd.png', N'Playtime!', N'http://res.cloudinary.com/dzentev47/video/upload/v1700807258/icuskv78ulsqzdjqi3qz.mp4', 10004)
INSERT [dbo].[stories] ([id], [image_url], [story_name], [video_url], [unit_id]) VALUES (10006, N'http://res.cloudinary.com/dzentev47/image/upload/v1700807521/sglk6cftyvxav361fqpn.png', N'This is my nose!', N'http://res.cloudinary.com/dzentev47/video/upload/v1700807528/tp2k3oqiyvy3d6ptizre.mp4', 10006)
SET IDENTITY_INSERT [dbo].[stories] OFF
GO
SET IDENTITY_INSERT [dbo].[units] ON 

INSERT [dbo].[units] ([unit_id], [status], [time], [unit_name], [level_id]) VALUES (10002, N'Chua hoàn thành', 0, N'Unit 1: What''s this?', 1)
INSERT [dbo].[units] ([unit_id], [status], [time], [unit_name], [level_id]) VALUES (10004, N'Chua hoàn thành', 0, N'Unit 2: Playtime!', 1)
INSERT [dbo].[units] ([unit_id], [status], [time], [unit_name], [level_id]) VALUES (10006, N'Chua hoàn thành', 0, N'Unit 3: This is my nose!', 1)
SET IDENTITY_INSERT [dbo].[units] OFF
GO
SET IDENTITY_INSERT [dbo].[user_access] ON 

INSERT [dbo].[user_access] ([access_id], [access_date], [account_id], [level_id]) VALUES (1, N'2023-12-04', 6, 1)
INSERT [dbo].[user_access] ([access_id], [access_date], [account_id], [level_id]) VALUES (2, N'2023-12-04', 10002, 2)
INSERT [dbo].[user_access] ([access_id], [access_date], [account_id], [level_id]) VALUES (3, N'2023-12-04', 10002, 2)
GO
SET IDENTITY_INSERT [dbo].[user_access] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKgex1lmaqpg0ir5g1f5eftyaa1]    Script Date: 12/25/2023 10:53:06 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKgex1lmaqpg0ir5g1f5eftyaa1] ON [dbo].[account]
(
	[username] ASC
)
WHERE ([username] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKq0uja26qgu1atulenwup9rxyr]    Script Date: 12/25/2023 10:53:06 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKq0uja26qgu1atulenwup9rxyr] ON [dbo].[account]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_6a90015y9x1b0audpiba4hgsg]    Script Date: 12/25/2023 10:53:06 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_6a90015y9x1b0audpiba4hgsg] ON [dbo].[grammar]
(
	[unit_id] ASC
)
WHERE ([unit_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_c7digq1c5dhcp0es993gpmdjq]    Script Date: 12/25/2023 10:53:06 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_c7digq1c5dhcp0es993gpmdjq] ON [dbo].[songs]
(
	[unit_id] ASC
)
WHERE ([unit_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_t6709cvtvs09qblcnhin6mvil]    Script Date: 12/25/2023 10:53:06 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_t6709cvtvs09qblcnhin6mvil] ON [dbo].[stories]
(
	[unit_id] ASC
)
WHERE ([unit_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account_levels]  WITH CHECK ADD  CONSTRAINT [FK1wggbahyecwnpkjqd2y0t9ute] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[account_levels] CHECK CONSTRAINT [FK1wggbahyecwnpkjqd2y0t9ute]
GO
ALTER TABLE [dbo].[account_levels]  WITH CHECK ADD  CONSTRAINT [FKswvk4gaqwdok0gp997jialvqc] FOREIGN KEY([level_id])
REFERENCES [dbo].[levels] ([level_id])
GO
ALTER TABLE [dbo].[account_levels] CHECK CONSTRAINT [FKswvk4gaqwdok0gp997jialvqc]
GO
ALTER TABLE [dbo].[account_roles]  WITH CHECK ADD  CONSTRAINT [FK6r8nxkn3hctohyllteivfr5hy] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[account_roles] CHECK CONSTRAINT [FK6r8nxkn3hctohyllteivfr5hy]
GO
ALTER TABLE [dbo].[account_roles]  WITH CHECK ADD  CONSTRAINT [FKtp61eta5i06bug3w1qr6286uf] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[account_roles] CHECK CONSTRAINT [FKtp61eta5i06bug3w1qr6286uf]
GO
ALTER TABLE [dbo].[ansgrammar]  WITH CHECK ADD  CONSTRAINT [FKs329ko30frjfo81fahg4b1msy] FOREIGN KEY([unit_id])
REFERENCES [dbo].[units] ([unit_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ansgrammar] CHECK CONSTRAINT [FKs329ko30frjfo81fahg4b1msy]
GO
ALTER TABLE [dbo].[anslesson]  WITH CHECK ADD  CONSTRAINT [FKn0ujq2fq3k21sxb3i1hcc09bb] FOREIGN KEY([lesson_id])
REFERENCES [dbo].[lessons] ([lesson_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[anslesson] CHECK CONSTRAINT [FKn0ujq2fq3k21sxb3i1hcc09bb]
GO
ALTER TABLE [dbo].[ansreview]  WITH CHECK ADD  CONSTRAINT [FKjb0rtj1fxt41yqbekqa71b3yw] FOREIGN KEY([lesson_id])
REFERENCES [dbo].[lessons] ([lesson_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ansreview] CHECK CONSTRAINT [FKjb0rtj1fxt41yqbekqa71b3yw]
GO
ALTER TABLE [dbo].[grammar]  WITH CHECK ADD  CONSTRAINT [FKhu294bgwksm5ru2fi6drta631] FOREIGN KEY([unit_id])
REFERENCES [dbo].[units] ([unit_id])
GO
ALTER TABLE [dbo].[grammar] CHECK CONSTRAINT [FKhu294bgwksm5ru2fi6drta631]
GO
ALTER TABLE [dbo].[lessons]  WITH CHECK ADD  CONSTRAINT [FKfsvqlgk1jdfcd1h8biuwy55rn] FOREIGN KEY([unit_id])
REFERENCES [dbo].[units] ([unit_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lessons] CHECK CONSTRAINT [FKfsvqlgk1jdfcd1h8biuwy55rn]
GO
ALTER TABLE [dbo].[phonics]  WITH CHECK ADD  CONSTRAINT [FKlxk0b90n01t05r14rse9mbcg5] FOREIGN KEY([unit_id])
REFERENCES [dbo].[units] ([unit_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[phonics] CHECK CONSTRAINT [FKlxk0b90n01t05r14rse9mbcg5]
GO
ALTER TABLE [dbo].[score]  WITH CHECK ADD  CONSTRAINT [FK8re0fw8bbddx8nw9ipjnwgllg] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[score] CHECK CONSTRAINT [FK8re0fw8bbddx8nw9ipjnwgllg]
GO
ALTER TABLE [dbo].[score]  WITH CHECK ADD  CONSTRAINT [FKgqviq62h7xce4c9qjx628m252] FOREIGN KEY([level_id])
REFERENCES [dbo].[levels] ([level_id])
GO
ALTER TABLE [dbo].[score] CHECK CONSTRAINT [FKgqviq62h7xce4c9qjx628m252]
GO
ALTER TABLE [dbo].[score]  WITH CHECK ADD  CONSTRAINT [FKj8og8vxoiecsri6bkc3klhp3k] FOREIGN KEY([unit_id])
REFERENCES [dbo].[units] ([unit_id])
GO
ALTER TABLE [dbo].[score] CHECK CONSTRAINT [FKj8og8vxoiecsri6bkc3klhp3k]
GO
ALTER TABLE [dbo].[songs]  WITH CHECK ADD  CONSTRAINT [FK6jba9ianpgnrj7rq4e176iqje] FOREIGN KEY([unit_id])
REFERENCES [dbo].[units] ([unit_id])
GO
ALTER TABLE [dbo].[songs] CHECK CONSTRAINT [FK6jba9ianpgnrj7rq4e176iqje]
GO
ALTER TABLE [dbo].[stories]  WITH CHECK ADD  CONSTRAINT [FK8ts7qmp92w3g0h5tlgnbvdtd8] FOREIGN KEY([unit_id])
REFERENCES [dbo].[units] ([unit_id])
GO
ALTER TABLE [dbo].[stories] CHECK CONSTRAINT [FK8ts7qmp92w3g0h5tlgnbvdtd8]
GO
ALTER TABLE [dbo].[units]  WITH CHECK ADD  CONSTRAINT [FKcgomv680uoc5tngxa5dd4hipo] FOREIGN KEY([level_id])
REFERENCES [dbo].[levels] ([level_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[units] CHECK CONSTRAINT [FKcgomv680uoc5tngxa5dd4hipo]
GO
ALTER TABLE [dbo].[user_access]  WITH CHECK ADD  CONSTRAINT [FK41k5ssuqjy684n7l152e97fes] FOREIGN KEY([level_id])
REFERENCES [dbo].[levels] ([level_id])
GO
ALTER TABLE [dbo].[user_access] CHECK CONSTRAINT [FK41k5ssuqjy684n7l152e97fes]
GO
ALTER TABLE [dbo].[user_access]  WITH CHECK ADD  CONSTRAINT [FK58ud319q56gwl94g418k3f6] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_access] CHECK CONSTRAINT [FK58ud319q56gwl94g418k3f6]
GO
ALTER TABLE [dbo].[roles]  WITH CHECK ADD CHECK  (([name]='ROLE_ADMIN' OR [name]='ROLE_USER'))
GO
USE [master]
GO
